@charset "UTF-8";
/* CSS Document */

html, body {
	margin: 0px;
	background: url(symphony.png) repeat;
	/* Background image from http://subtlepatterns.com/ */
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: DimGray;
}

#wrapper {
	margin-top: 150px;
}



h1, h2, h3, h4 {
	
}

/* -------------- Name Styles ------------*/

h1 {
	color: tomato;
}

h1.name {
	margin-bottom: 0px;
	border: 10px solid tomato;
	padding: 30px;
	display: inline;
}

/* -------------- Title Styles ------------*/

h2 {
	color: Salmon;
}

h2.title {
	margin-top: 40px;
    padding: 30px;
}

/* -------------- Contact Styles ------------*/
.line-break {
	border: 1px solid grey;
    margin: 30px auto;
    width: 50%;
}

.phone_number {
	color:DarkSeaGreen;
}

a.e-mail {
	color: DarkSeaGreen;
	text-decoration: none;
}

/* -------------- Quote Styles ------------*/
.quote {
	font-style: italic;
	font-size: 20px;
	margin-top: 50px;
	line-height: 30px;
}

